[Unit]
Description=Jaeger Query
After=network.target

[Service]
Environment="SPAN_STORAGE_TYPE=cassandra"
Environment="CASSANDRA_SERVERS=127.0.0.1"
Environment="CASSANDRA_KEYSPACE=jaeger_v1_dc1"
ExecStart=/usr/local/bin/jaeger-query --cassandra.keyspace=jaeger_v1_dc1 --cassandra.servers=127.0.0.1 --cassandra.username=jaeger --cassandra.password=JambonzR0ck$
User=nobody
Restart=on-failure

[Install]
WantedBy=multi-user.target

