#!/bin/bash

# configure telegraph to send to the monitoring server
sudo sed -i -e "s/influxdb:8086/${MONITORING_SERVER_IP}:8086/g"  /etc/telegraf/telegraf.conf
sudo systemctl restart telegraf

# point drachtio server and rtpengine to the HEP endpoint on the monitoring server
sudo sed -i -e "s/--delete-delay 0/--delete-delay 0 --homer=${MONITORING_SERVER_IP}:9060 --homer-protocol=udp --homer-id=11/g"  /etc/systemd/system/rtpengine.service

sudo systemctl daemon-reload
sudo systemctl restart rtpengine
