#!/bin/bash
ENABLE_DATADOG_METRICS=0
if [ "${DATADOG_API_KEY}" ] ; then
  echo "installing datadog.."

  sed -i -e 's@^api_key:.*@'"api_key: ${DATADOG_API_KEY}"'@g' /etc/datadog-agent/datadog.yaml
  sed -i -e 's@^# site:.*@'"site: ${DATADOG_SITE}"'@g' /etc/datadog-agent/datadog.yaml
  sed -i -e 's@^# log_level:.*@log_level: warning@g' /etc/datadog-agent/datadog.yaml

  tee -a /etc/datadog-agent/datadog.yaml > /dev/null <<EOT
tags:
  env_name:${DATADOG_ENV_NAME}
  role:rtp
EOT

  systemctl enable datadog-agent
  systemctl start datadog-agent
  
fi
