[Unit]
Description=jaeger service unit file.
After=syslog.target network.target local-fs.target

[Service]
Type=exec
ExecStart=/usr/local/bin/jaeger-all-in-one

[Install]
WantedBy=multi-user.target
 